:host {
    width: calc(100% - 50px);
    height: 100%;
}

mat-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    mat-card-header {
        display: flex;
        align-items: center;
    }

    img {
        margin-right: 20px;
    }

    .mat-card-actions {
        &:last-child {
            margin: 0;
            padding: 0;
        }
    } 
}
